/** @format */
body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.preview-card {
  display: flex;
  margin: 100px auto;
  width: max-content;
}

.business-info {
  background-color: hsl(244, 38%, 16%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px;
}

.heading {
  font-size: 48px;
  width: 500px;
  color: hsl(0, 0%, 100%);
  line-height: 50px;
  margin-bottom: 30px;
}

.description {
  width: 350px;
  margin-bottom: 50px;
  color: hsla(0, 0%, 100%, 0.75);
}

.business-stat {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.stat-container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: hsl(0, 0%, 100%);
}

/* .business-img {
    background-image: url(/images/image-header-desktop.jpg);
    background-position: ;
    background-repeat: no-repeat;
} */

.business-img {
  background: url(/images/image-header-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.overlay {
  background-color: hsla(277, 64%, 61%, 0.7);
  z-index: 80;
  width: 350px;
  height: 100%;
  z-index: 5;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

span {
  color: hsl(277, 64%, 61%);
}

.stat {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.title {
  color: hsla(0, 0%, 100%, 0.75);
}

/* RESPONSIVENESS */

@media screen and (max-width: 1000px) {
  /* body {
    background-color: green;
  } */

  .heading {
    font-size: 30px;
    width: 300px;
  }

  .description {
    width: 350px;
  }

  .stat-container {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  /* body {
    background-color: red;
  } */

  .heading {
    font-size: 25px;
    width: 300px;
  }

  .description {
    width: 300px;
  }

  .stat-container {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  /* body {
    background-color: pink;
  } */

  .preview-card {
    padding: 10px;
  }

  .heading {
    font-size: 25px;
    width: 200px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .description {
    width: 200px;
    margin-bottom: 30px;
    font-size: 13px;
  }

  .business-stat {
    width: 200px;
  }

  .title {
    font-size: 14px;
  }

  .company {
    font-size: 14px;
  }

  .overlay {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  /* body {
    background-color: orange;
  } */

  .preview-card {
    display: flex;
    flex-direction: column;
  }

  .business-info {
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .heading {
    width: 250px;
    text-align: center;
    font-weight: 700;
  }

  .description {
    text-align: center;
    width: 250px;
    font-weight: 500;
  }

  .business-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: center;
  }

  .business-img {
    background: url(/images/image-header-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overlay {
    width: 100%;
    height: 200px;
  }
}
